apiVersion: v1
kind: Config
preferences: {}

clusters:
{% for item in cluster_configs %}
{% set cluster_name = clusters[loop.index0].name %}
{% set kube_context = clusters[loop.index0].kube_context %}
{% set control_plane_ip = hostvars[groups[cluster_name + '_control_plane'][0]]['ansible_host'] %}
- cluster:
    certificate-authority-data: {{ (item.content | b64decode | from_yaml).clusters[0].cluster['certificate-authority-data'] }}
    server: https://{{ control_plane_ip }}:6443
  name: {{ kube_context }}
{% endfor %}

contexts:
{% for item in cluster_configs %}
{% set kube_context = clusters[loop.index0].kube_context %}
- context:
    cluster: {{ kube_context }}
    user: {{ kube_context }}-admin
  name: {{ kube_context }}
{% endfor %}

current-context: {{ clusters[0].kube_context }}

users:
{% for item in cluster_configs %}
{% set kube_context = clusters[loop.index0].kube_context %}
- name: {{ kube_context }}-admin
  user:
    client-certificate-data: {{ (item.content | b64decode | from_yaml).users[0].user['client-certificate-data'] }}
    client-key-data: {{ (item.content | b64decode | from_yaml).users[0].user['client-key-data'] }}
{% endfor %}
